# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.local

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/local.properties
android/.idea/
android/app/release/
*.keystore
*.jks
